* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body {
    /* background-color: #0d2e4b; */
    background-color: white;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: blue; */
}
.main-container {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    display: none;
}

/*------------------- left container -------------------*/
.left-container {
    height: 100vh;
    width: 35%;
    /* background-color: rgb(0, 90, 102); */
    padding: 20px 30px;
    background: url(images/image.png);
    background-size: cover;
    background-position: right;
    background-position-x: 40%;
    overflow: hidden;
}
.form {
    height: 40px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search {
    height: 40px;
    width: 85%;
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
#search:focus {
    outline: none;
}
button {
    height: 40px;
    width: 15%;
    background-color: white;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button span {
    color: gray;
}
button::before {
    content: '';
    width: 2px;
    height: 60%;
    display: block;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.644);
    left: 0;
}
.img {
    height: 100px;
    width: 100%;
    margin: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img span{
    font-size: 150px;
    color: white;
}
.temp-container {
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
}
.temp-container .temp {
    height: 100%;
    width: 100%;
    font-size: 60px;
}
.temp-container .temp sup{
    font-size: 30px;
}
.temp-container span:nth-child(3) {
    font-size: 20px;
}
.temp-container::after {
    content: '';
    height: 2px;
    bottom: -20px;
    background: white;
    width: 100%;
    position: absolute;
    display: block;
}

.left-bottom-container {
    height: 42%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    /* background-color: red; */
}
.main-card {
    width: 47%;
    height: 47%;
    /* background-color: rgba(53, 52, 52, 0.534); */
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    padding: 10px;
    /* opacity: 0.9; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-heading .icon {
    font-size: 30px;
    /* color: rgb(0, 247, 255); */
    color: rgba(19, 42, 49, 0.664);
}
.card-heading {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    height: 25%;
}
.heading {
    /* color: rgb(31, 31, 31); */
    font-weight: bold;
    /* color: rgb(0, 247, 255); */
    color: rgba(6, 14, 15, 0.664);
}
.value-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    /* background-color: blue; */
}
.value {
    font-size: 34px;
    color:  rgba(0, 0, 0, 0.699);
    font-weight: bold;
}
.value sup sup{
    font-size: 16px;
}

/*------------------- right container -------------------*/
.right-container {
    height: 100vh;
    width: 75%;
    padding: 20px;
    /* background-color: #8ac6fc; */
    background-color: rgba(255, 255, 255, 0.521);
    overflow: hidden;
}
.forecast-container {
    height: 30vh;
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.26); */
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    box-shadow: #0000001a 0px 0px 20px 0px;
    margin: 0 0 20px;
    padding: 15px 15px 10px;
    overflow: hidden;
}
.forecast-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* gap: 5px; */
    position: relative;
}
.forecast-heading::after {
    content: '';
    position: absolute;
    background-color: rgba(19, 42, 49, 0.664);
    height: 2px;
    width: 100%;
    display: block;
    bottom: -6px;
}
.scroll-cards {
    width: 100%;
    height: 75%;
    margin-top: 12px;
    overflow: auto;
    padding: 0px 15px 5px;
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.right-bottom-container {
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0;
}
.right-bottom-card {
    height: 100%;
    width: 24%;
    box-shadow: #0000001a 0px 0px 20px 0px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.39);
}
.right-bottom-container .value {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 80%;
    overflow: hidden;
}
.uv-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uv-inner-container p:nth-child(2) {
    font-size: 24px;
}
.inner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 15%;
    padding: 20px 70px;
    border-radius: 10px;
    position: relative;
    color:  rgba(6, 14, 15, 0.664);
    transition: 0.2s;
    margin-right: 10px;
    cursor: default;
}
.inner-card .icon {
    color: rgba(0, 0, 255, 0.562);
}
.inner-card:hover {
    background-color: rgb(0, 195, 255);
}
.inner-card::after{
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(128, 128, 128, 0.425);
    width: 2px;
    height: 70%;
    right: -6px;   
}
.inner-card:last-child::after {
    display: none;
}
.inner-card.lightbg::after {
    background-color: rgb(0,223,255);
}
.time-label {
    font-size: 16px;
    font-weight: 500;
}
.hour-wise-temp-value {
    font-size: 20px;
    font-weight: 500;
}
.day-label,
.date-label {
    font-size: 16px;
    font-weight: 500;
}
.day-wise-temp-value {
    font-size: 20px;
    font-weight: 500;
}
.inner-card:first-child {
    background-color: rgb(0, 195, 255);
}
.inner-card.nightcardbg:first-child {
    background-color: rgb(11, 60, 75);
}
.inner-card.nightcardbg:hover {
    background-color: rgb(11, 60, 75);
}

@media only screen and (max-width: 600px){
    .body {
        height: 100%;
    }
    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .left-container {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
    .right-container {
        width: 100%;
        height: 120vh;
    }
    .main-card {
        height: 100%;
        min-width: 25%;
    }
    .card-heading .icon {
        font-size: 24px;
    }
    .left-bottom-container {
        flex-wrap: nowrap;
        gap: 5px;
        height: 25vh;
        margin-top: 45px;
    }
    .value {
        font-size: 24px;
        color:  rgba(0, 0, 0, 0.699);
        font-weight: bold;
        /* background-color: blue; */
    }
    .img {
        margin: 60px 0 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-bottom-container {
        height: 46vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
    }
    .right-bottom-card {
        width: 49%;
        height: 47%;
    }
}
@media screen and (max-width: 600px) {
    .left-bottom-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 32vh;
        margin-top: 40px;
    }
    .main-card {
        height: 48%;
        width: 49%;
    }
    .right-bottom-card {
        box-shadow: #0000001a 0px 0px 5px 0px;
    }
}
@media screen and (max-width: 350px){
    .value {
        font-size: 18px;
    }
    .right-bottom-container{
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 46vh;
    }
    .right-bottom-card {
        width: 48%;
        height: 47%;
        box-shadow: #0000001a 0px 0px 5px 0px;
    }
    .card-heading {
        gap: 5px;
        margin-bottom: 5px;
        height: 25%;
    }
    .heading {
        font-size: 14px;
    }
    .uv-inner-container p:nth-child(2) {
        font-size: 18px;
    }
    .inner-card {
        padding: 20px 50px;
    }
}
@media screen and (max-width: 310px) {
    .right-bottom-container{
        gap: 5px;
    }
    .right-bottom-card:nth-child(1) .card-heading {
        gap: 1px;
    }
}